#stream{
    position:absolute;
    z-index: 1;

    background-color: red;
}

#kappa{
    position:absolute;
    z-index: 2;

    background-color: cyan;
}

#chat-border{
    z-index: 3;

    position:absolute;
    background-color: green;
}